html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to bottom, #84a7ff, #c1e4ff);
  color: #ffffff;
  font-family: Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  text-align: center;
  margin-top: 50px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #7c7878;
  background-color: #212121;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.row {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #303030, #1d1d1d);
  border: 1px solid #000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Arial', sans-serif;
}

.row:hover {
  background-color: #3c3c3c;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  transform: translateY(-2px);
  border: 1px solid #fff;
}

.row:active {
  background-color: #2c2c2c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transform: translateY(2px);
}

#display {
  grid-column: 1 / -1;
  text-align: right;
  font-size: 24px;
  padding: 10px;
  background-color: #565555;
  background-size: cover;
  border: 1px solid #000;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Helvetica', sans-serif;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ccc;
  font-size: 12px;
}

@media (max-width: 600px) {
  body {
    background-size: cover;
  }
}
