html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.App {
  flex: 1;
  margin-top: 50px;
  text-align: center;
}

.calculator {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  border: 1px solid #7c7878;
  border-radius: 5px;
  background-size: 20px 20px;
  background-color: #784c0d;
  padding: 10px;
  max-width: 300px;
}

.calculator::before {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  z-index: -1;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
  content: '';
}

.row {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  background-image: linear-gradient(to bottom, #303030, #1d1d1d);
  padding: 10px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

.row:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  background-color: #3c3c3c;
}

.row:active {
  transform: translateY(2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  background-color: #2c2c2c;
}

#display {
  grid-column: 1 / -1;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  background-size: cover;
  background-color: #565555;
  padding: 10px;
  font-size: 24px;
  font-family: 'Helvetica', sans-serif;
  text-align: right;
}

.footer {
  position: relative;
  top: 12px;
  right: 5px;
  bottom: 5px;
  left: 150px;
  color: #ddd;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 600px) {
  body {
    background-size: cover;
  }
}
